.alert {
    transition: all 0.1s ease-out;
}

.modal-wrapper {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-details {
    font-size: 20px;
    font-weight: bold;
    background-color: #fefefeb6;
    left: 50%;
    top: 38%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: rgb(255, 65, 65);
    float: right;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-out;
}

.close:hover,
.close:focus {
    color: #ff1010;
    font-size: 26px;
    cursor: pointer;
}

.modal-details button {
    /* background-color: blue; */
    border: none;
    border-radius: 4px;
    font-size: 18px;
    /* font-weight: bold; */
    margin-right: 1.2rem;
    transition: all 0.3s ease-in;
}

.modal-details button:hover {
    border: 1px solid red;
    border-radius: 4px;
    font-size: 20px;
    background-color: #eee;
    color: #110101
}

.btn-warning {
    margin-top: 1.3rem;
    transition: all 0.3s ease;
}

.btn-warning:hover {
    color: rgba(255, 196, 0, 0.39);
    background-color: rgb(31, 29, 29);
    font-size: larger;
}